<div>
    <h2>
        <span jhiTranslate="whereQRealtorCaApp.listing.home.title">Listings</span>
        <button class="btn btn-primary float-right create-listing" [routerLink]="['/', { outlets: { popup: ['listing-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="whereQRealtorCaApp.listing.home.createLabel">
            Create new Listing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="listings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="listingType"><span jhiTranslate="whereQRealtorCaApp.listing.listingType">Listing Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="whereQRealtorCaApp.listing.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inputDate"><span jhiTranslate="whereQRealtorCaApp.listing.inputDate">Input Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedDate"><span jhiTranslate="whereQRealtorCaApp.listing.modifiedDate">Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="style"><span jhiTranslate="whereQRealtorCaApp.listing.style">Style</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="listingPrice"><span jhiTranslate="whereQRealtorCaApp.listing.listingPrice">Listing Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location.fullAddress"><span jhiTranslate="whereQRealtorCaApp.listing.location">Location</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let listing of listings ;trackBy: trackId">
                <td><a [routerLink]="['../listing', listing.id ]">{{listing.id}}</a></td>
                <td jhiTranslate="{{'whereQRealtorCaApp.ListingType.' + listing.listingType}}">{{listing.listingType}}</td>
                <td jhiTranslate="{{'whereQRealtorCaApp.ListingStatus.' + listing.status}}">{{listing.status}}</td>
                <td>{{listing.inputDate | date:'mediumDate'}}</td>
                <td>{{listing.modifiedDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'whereQRealtorCaApp.Style.' + listing.style}}">{{listing.style}}</td>
                <td>{{listing.listingPrice}}</td>
                <td>
                    <div *ngIf="listing.location">
                        <a [routerLink]="['../location', listing.location?.id ]" >{{listing.location?.fullAddress}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../listing', listing.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'listing/'+ listing.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'listing/'+ listing.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="listings && listings.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
